<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/navigation.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
	<title>Garden Planner</title>
</head>
<body>
    <h1 align="center">Garden Planner</h1>
    {% include 'navigation.html' %}
	<p>Our goal is to design solutions that enable collective horticultural efforts, such as community gardens, to effectively organize their resources in the pursuit of common goals.</p>
    <p>Our technology will enable gardeners to design, optimize, and plan their gardens, as well as optionally account for resources and inventory available to them.</p>
</body>
</html>
