<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/navigation.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
	<title>Garden Planner</title>
</head>
<body>
    <h1 align="center">Garden Planner</h1>
    {% include 'navigation.html' %}
    <p>Garden Planner aims to provide solutions to common problems faced by community gardeners, including the design, optimization, and management of garden spaces. Garden Planner also aims to allow gardeners to connect with one another to share resources and knowledge, as well as coordinate common production plans within local areas.</p>
    <p>Core features will include:</p>
    <ul>
    <li>Garden design tools</li>
    <li>Garden management tools</li>
    <li>Garden optimization tools</li>
    <li>Garden profiles</li>
    </ul>
</body>
</html>
