<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/navigation.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
	<title>Garden Planner</title>
</head>
<body>
    <h1 align="center">Garden Planner</h1>
    {% include 'navigation.html' %}
    <p>Garden Planner provides solutions to common problems in community gardening, including the design, optimization, and management of garden spaces. In addition, Garden Planner aims to allow gardeners to share resources and knowledge, as well as coordinate common plans.</p>
    <p>Core features will include:</p>
    <ul>
    <li>Garden designer</li>
    <li>Garden optimizer</li>
    <li>Garden communities</li>
    <li>Garden management</li>
    </ul>
</body>
</html>
