<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>Garden Locations</h3>
    {% include 'navigation.html' %}
    <!--The div element for the map -->
    <div id="map"></div>
    <!-- calling globals for global variables for map page -->
    <script type="text/javascript" src= "../static/scripts/global.js"></script>
    <script>
  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: growToget
  });
      
  
  
var infowindow1 = new google.maps.InfoWindow({
    content: contentStringShreve[0]
    });
var infowindow2 = new google.maps.InfoWindow({
    content: contentStringShreve[1]
    });
var infowindow3 = new google.maps.InfoWindow({
    content: contentStringShreve[2]
    });
var infowindow4 = new google.maps.InfoWindow({
    content: contentStringShreve[3]
    });
var infowindow5 = new google.maps.InfoWindow({
    content: contentStringShreve[4]
    });
var infowindow6 = new google.maps.InfoWindow({
    content: contentStringShreve[5]
    });
var infowindow7 = new google.maps.InfoWindow({
    content: contentStringShreve[6]
    });
var infowindow8 = new google.maps.InfoWindow({
    content: contentStringShreve[7]
    });
var infowindow9 = new google.maps.InfoWindow({
    content: contentStringShreve[8]
    });
var infowindow10 = new google.maps.InfoWindow({
    content: contentStringShreve[9]
    });
      
  var marker1 = new google.maps.Marker({
    position: growToget,
    map: map,
    title: 'LSU We Grow Together! Campus'
    
    
  });
  var marker2 = new google.maps.Marker({
    position: abPalm,
    map: map,
    title: 'AB Palmer Community Garden'
  });
    var marker3 = new google.maps.Marker({
    position: allenDale,
    map: map,
    title: 'Allendale Garden of Hope and Love'
  });
    var marker4 = new google.maps.Marker({
    position: atkensLibrary,
    map: map,
    title: 'Atkins Library Community Garden'
  });
    var marker5 = new google.maps.Marker({
    position: highland,
    map: map,
    title: 'Highland Community Garden'
  });
    var marker6 = new google.maps.Marker({
    position: hollywoodHeights,
    map: map,
    title: 'Hollywood Heights Community Garden'
  });
    var marker7 = new google.maps.Marker({
    position: mlkHeath,
    map: map,
    title: 'MLK Health Clinic Community Garden'
  });
    var marker8 = new google.maps.Marker({
    position: mooretown,
    map: map,
    title: 'Mooretown Community Faith Garden'
  });
    var marker9 = new google.maps.Marker({
    position: seedsSuccess,
    map: map,
    title: 'Seed to Success Community Garden'
  });
    var marker10 = new google.maps.Marker({
    position: valenciaStoner,
    map: map,
    title: 'Valencia Stoner Hill Community Garden'
  });
      marker1.addListener('click', function() {
        infowindow1.open(map, marker1);
        });
      marker2.addListener('click', function() {
        infowindow2.open(map, marker2);
        });
      marker3.addListener('click', function() {
        infowindow3.open(map, marker3);
        });
      marker4.addListener('click', function() {
        infowindow4.open(map, marker4);
        });
      marker5.addListener('click', function() {
        infowindow5.open(map, marker5);
        });
      marker6.addListener('click', function() {
        infowindow6.open(map, marker6);
        });
      marker7.addListener('click', function() {
        infowindow7.open(map, marker7);
        });
      marker8.addListener('click', function() {
        infowindow8.open(map, marker8);
        });
      marker9.addListener('click', function() {
        infowindow9.open(map, marker9);
        });
      marker10.addListener('click', function() {
        infowindow10.open(map, marker10);
        });
}
        
        
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kYWWFIJECABfmJhxtWQok7_nhAL76pE&callback=initMap">
    </script>
  </body>
</html>