.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0f0c0;
}

.navbar li {
    float: left;
    width: 300px;
    margin: auto;
    

}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    width: 200px;
    padding: 20px 20px;
    text-decoration: none;
    font-family: sans-serif;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #f1fbec;
}
