ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: limegreen;
}

li {
    float: left;
    width: 300px;
    margin: auto;
    

}

li a {
    display: block;
    color: black;
    text-align: center;
    width: 200px;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: lawngreen;
}